.post {
    background-color: var(--gray-800);
    border-radius: 8px;
    padding: 2rem;

}

.post > header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.post header time {
    font-size: 0.875rem;
    color: var(--gray-400);
}

.post + .post {
    margin-top: 2rem;
}

.content {
    line-height: 1.6;
    color: var(--white);
    margin-top: 1.5rem;
    
}

.content p {
    margin-top: 1.5rem;

}


.content a {
    font-weight: bold;
    color: var(--green-500);
    text-decoration: none;
    
}

.content a:hover {
    color: var(--green-300);
    cursor: pointer;
}

.author {
    display: flex;
    align-items: center;
    gap: 1rem;
}



.authorInfo {
    display: flex;
    flex-direction: column;

}

.authorInfo strong {
    display: block;
    color: var(--gray-100);
    line-height: 1.6;
}

.authorInfo span {
    display: block;
    font-size: 0.875rem;
    color: var(--gray-400);
    line-height: 1.6;
}

.commentForm {
    width: 100%;
    margin-top: 1.5rem;
    padding-top: 1.5rem;
    border-top: 1px solid var(--green-300);
    
}

.commentForm > footer {
    visibility: hidden;
    max-height: 0;
}

.commentForm:focus-within footer {
    visibility: visible;
    max-height: none;
}
.commentForm > strong {
    line-height: 1.6;
    color: var(--gray-100);
}

.commentForm textarea {
    width: 100%;
    background-color: var(--gray-900);
    border: 0;
    height: 6rem;
    padding: 1rem;
    border-radius: 8px;
    color: var(--white);
    line-height: 1.4;
    margin-top: 1rem;
}

.commentForm textarea:focus {
    outline: none;
    border: 3px solid var(--green-500)
}

.commentForm button[type='submit'] {
    color: var(--white);
    background-color: var(--green-500);
    border: none;
    border-radius: 8px;
    padding: 1rem 1.5rem;
    margin-top: 1rem;
    font-weight: bold;

}

.commentForm button[type='submit']:hover {
    background-color: var(--green-300);
    cursor: pointer;
}

.commentList {
    margin-top: 2rem;
}